<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.localaihub.platform.module.system.base.dao.mybatis.UserEntityMapper">
    <select id="findAll" resultType="com.localaihub.platform.module.system.base.entity.user.UserEntity">
        SELECT * FROM user
    </select>
</mapper>
